@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

body {
  background-color: rgb(253, 253, 253);
}

::-webkit-scrollbar {
  width:5px;
  height:5px;
}

::-webkit-scrollbar-thumb {
  border-radius:5px;
  background-color: #ccc;
}

.sidebar-content a {
	text-transform:capitalize;
}
