.board {
    min-width: 290px;
    width: 290px;
    max-height: 100%;
    /* flex-basis: 290px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .board_top {
    flex: 1;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    height: 100%;
  }
  
  .board_top_title {
    flex: 1;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    /* gap: 5px; */
    align-items: center;
  }
  
.board_top_title span {
  color: rgb(145, 145, 145);
  margin-left:0.3rem;
}

.board_top_title > svg {
  cursor: pointer;
  position: relative;
  /* margin-left: 5rem; */
}

.board_cards{
  flex: 1;
  height: 100%;
  background-color:#f8f8f8;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 0.5rem;
  margin-top: 0.8rem;
  overflow-y: scroll;
  /* overflow-y: auto; */
  scroll-behavior: smooth;
}
.board_cards_add {
  width: 100%;
  background-color: #fff;
  border-radius:5px;
  box-shadow: 1px 2px 0 1px rgb(0, 0, 0, 0.15);
}

.board_cards_add:hover{
  box-shadow: 1px 2px 0 1px #ccc;

}
.board_top_more {
  position: relative;
  cursor: pointer;
 
}
.board_dropdown{
  background-color: #fff;
  width: 130px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 0 20px rgb(0, 0, 0, 0.1);
}